*{transition: 300ms;}

html {
    font-size: 100%;
    
  }

body{
    margin:0;}

.navbar{
    font-size:1.4em;
    font-family:"Amaranth";
    height:3em;
    z-index: 100;
    top:0;
    opacity: 100%;
}

a.hover{color:black;}
a.active{color:#88a83e;}

#logo{width:3em;
    height:auto;
}

#give-btn{position:fixed;
right:1em;
height:fit-content;
width:auto;
font-size:1.1em;
color:white;
background-color: #88a83e;
opacity:100;
z-index: 100;
border: none;
}

.homeheader{  
    font-size:2em;
    text-shadow: 1px 1px 10px white;
    font-family: "Amaranth";
    font-size:4em;
    text-align: center;
    color:black;
    opacity: 100%;
    position:absolute;
    margin:0;
    top:220px;
    left:50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
.homebody{
    font-family:"Oswald",sans-serif;
    font-size: 2em;
    text-shadow: 1px 1px 3px white;
    font-weight:200;
    color:black;
    text-align: center;
    margin-bottom:20px;
    display: flex;
    position:absolute;
    margin:0;
    top:320px;
    left:50%;
    transform: translate(-50%, -50%);
    margin-bottom:20px;
    display:flex;
}

.normalHeader{
    font-size:2em;
    text-shadow: 1px 1px 10px white;
    font-family: "Amaranth";
    font-size:3em;
    color:black;
    opacity: 100%;
    position: absolute;
    margin:0;
    top:80px;
    left:50%;
    transform: translate(-50%, -50%);}

.normalBody{
    font-family:"Oswald",sans-serif;
    font-size: 2em;
    text-shadow: 1px 1px 3px white;
    font-weight:200;
    color:black;
    text-align: center;
    margin-bottom:20px;
    display: flex;
    position: absolute;
    margin:0;
    top: 120px;
    margin-bottom: 100px;
    left:50%;
    transform: translate(-50%, -50%);
    margin-bottom:200px;
    display:block;
}

a{color:#88a83e;}
.carousel-item{opacity:30%;
  z-index: -100;
  width:150%;
  /*height: fit-content;*/
}

#topSpacer{
top:0;
margin-bottom:40px;}

#aboutdiv{
    font-family:"Oswald",sans-serif;
    font-size: 1.4em;
    font-weight:300;
    line-height: 1.3em;
    overflow:auto !important;
    padding:10px;
    margin-left:5%;
    margin-right:5%;
    margin-top: 10px;
    margin-bottom:20px;
    text-align: center;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius:20px;
    color:black;
    height:fit-content;
    display: block;
    width: 90%;
}

#bottomSpacer{margin-bottom:8em;}

.about-images{height:auto;
width: 30vh;}

.about-images:hover{height:auto;
width:60vh;
max-width: 80vh;}

/* contact form begins */

.container {
    z-index: 1;
    position: relative;
    width: 80%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top:10vh;
  }
  
  .contact-form {
     width: 60%;
    border-radius:2em;
    padding:1em;
    opacity:.7;
    background-color: #033212;
    position: relative;
  }
  
  .contact-title {
    font-size:2rem;
    color: #fff;
    font-family: 'Amaranth', serif;
    line-height: 1;
    letter-spacing:.1em;
    margin-bottom: 0.7rem;
  }
  
  .input-container {
    position: relative;
    margin: 1rem 0;
  }
  
  .input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
  }
  
  textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
  }
  
  .input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
  }
  
  .input{color:white;}
  .input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
  }
  
  .subbtn {
    font-family: 'Amaranth', serif;
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 1.5rem;
    color: #033212;
    line-height: 1.5rem;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
  }
  
  .subbtn:hover {
    background-color: transparent;
    color: #fff;
  }
  
  .input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
  }
  
  .input-container span:before,
  .input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #88a83e;

    top: 50%;
    transform: translateY(-50%);
  }
  
  .input-container span:before {
    left: 50%;
  }
  
  .input-container span:after {
    right: 50%;
  }
  
  .input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
  }
  
  .input-container.focus span:before,
  .input-container.focus span:after {
    width: 50%;
    opacity: 1;
  }
  
#home-info-bottom-box{
  background-color:#033212;
  opacity:1;
  width:100%;
  height:fit-content;
  color:white;
  font-family:"Oswald",sans-serif;
  position:fixed;
  bottom:0;
  display:block;
  text-align: center;
  padding:20px;
  overflow:scroll;
}

#home-info-bottom-box-text{font-size:2.5em;
}

@media screen and (min-width: 300px) and (max-width:760px){

.nav-link{color:white;
    padding:10px;
    text-align: center;
    z-index:110;
    background-color: rgba(0, 0, 0, 0.7);
    margin-left:-20px;
    margin-right:-20px;
}

#give-btn{height:fit-content;
  width:auto;
  left:0;
  top:0;
  width:100%;
  position:absolute;
  border-radius:0;}
  
.navbar-toggler, .navbar-brand{
  margin-top:40px;}

.carousel-item{height:100vh;
   width:250%;}

#aboutdiv{margin-top:50px;}

.about-images:hover{height:auto;
  width:40vh;
  max-width: 80vh;}

.body-content{margin-left:0;}

.homeheader{font-size:2em;
        padding:0;
        margin:0;
        top:200px;}

.homebody{font-size:1.5em;
    top:300px;}

.normalHeader{font-size:2em;
    padding:0;
    margin:0;
    top:75px;}
   
.normalBody{font-size:1.5em;
        padding:0;
        margin:0;
        top:120px;}

a:hover{color: #88a83e !important;}



.about-images{height:auto;
width:20vh;}

.container {margin-top:50px;}

.contact-form {
     width: 80%;}

.input{  padding: .5rem .9rem;
  font-size:1em;}

  #home-info-bottom-box-text{font-size:2em;}

  
}

@media only screen and (max-width: 600px) {
  .homeheader{font-size:2.5em;}

  .homebody{font-size:1.7em;
  margin-top:2em;
  width:80%;}

  .container {
      padding: 0.1rem;
      margin-bottom: 10px;
      margin-top: 50px;
      width:100%;
    }
  a:hover{color: #88a83e !important;}
    .contact-info:before {
      display: none;
    }
    form,
    .contact-info {
      padding: 1rem 1.6rem;
      font-size:1em;
    }
  
    .text,
    .information,
    .social-media p {
      margin-top:30px;
      font-size: .7rem;
      line-height: 1em;
      text-align: left;
      letter-spacing: .05em;
    }
  
    .title {
      font-size: 1.15rem;
    }

    .input {
        font-size: 0.9em;
        letter-spacing: .001em;
      }
  
    .subbtn {
      padding: 0.45rem 1.2rem;
      line-height: .8rem;
    }
    #home-info-bottom-box{padding:10px;
  }

    #home-info-bottom-box-text{font-size:1.5em;
    }

.carousel-item{height:100vh;
width:250%;}
  
  }