/*font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

*{transition: 300ms;}

html {
font-size: 100%;

}

body{
margin:0;}

header{
margin-left:auto;
margin-right:auto;
display:block;

}

/* Buttons */

.button{
background-color: #88a83e;
color:white;
font-family: 'Montserrat', sans-serif;
font-weight:400;
padding:10px;
margin:10px;
width:200px;
border-radius: 20px;
border:none;
}
.give-btn, .learn-btn{
font-family: 'Montserrat', sans-serif;
font-size:2em;
font-weight:700;
text-shadow: 2px 2px 3px #033212;
letter-spacing: 2px;
color:white;
background-color: #88a83e;
height:fit-content;
opacity:100;
z-index: 100;
border:none;
}

#give-btn{
padding-top:5px;
width:100%;
position:absolute;
margin-top:-5px;}

#give-btn:hover{
font-size:2.2em;
color:#88a83e;
background-color:#033212;;
}

#learn-more-button{
border-radius:10px;
display:flex;
position:fixed;
bottom:15px;
font-size:1.4em;
padding:5px 10px;
}

#learn-more-button:hover{
font-size:1.6em;
color:white;
background-color:#033212;
}

#learn-more-button-text{color:white;
text-decoration: none;}

.navcon{
width:100%;
height:100px;
justify-content: center;
display: flex;}

.navbar-nav{
padding:5px 5px;
margin-top:45px;
justify-content: space-around;
display: flex;
text-align: center;
flex-direction:row;
font-family: 'Montserrat', sans-serif;
font-size:1.2em;
font-weight: 600;
z-index: 10;
}
.nav-item{padding:0px 10px;}

a{text-decoration: underline;}
a.hover{color:black;}
a.active{color:#88a83e;}

#logo{width:3em;
height:auto;
margin-top:45px;
margin-left:10px;
}

.body-content{
margin-top:20px;
margin-left:20px;
margin-right:20px;
text-align:center;
justify-content: center;
display:flex;}

.homeheader{
margin-top:100px;
font-family: 'Montserrat', sans-serif;
color:black;
text-shadow: 1px 1px 3px white;
font-size:3em;
font-weight:700;
}
.homebody{
font-family: 'Montserrat', sans-serif;
color:black;
text-shadow: 1px 1px 3px white;
font-size: 1.75em;
font-weight:400;
margin-top:50px;
margin-bottom:20px;
display:flex;
white-space: normal;
}

.normalHeader{
font-size:3em;
text-shadow: 1px 1px 10px white;
font-family: 'Montserrat', sans-serif;
font-weight:700;
font-size:2.5em;
color:black;
opacity: 100%;
display: flex;
padding:-20px;
text-shadow:2px 2px 1px #88a83e;
margin-top:30px;
}

.flex-center{
display:flex;
justify-content: center;
text-align: center;
margin-left:auto;
margin-right:auto;
}

.normalBody{
font-family: 'Montserrat', sans-serif;
font-size: 2em;
text-shadow: 1px 1px 3px white;
font-weight:200;
color:black;
text-align: center;
margin-bottom:20px;
display: flex;
position: absolute;
margin:0;
top: 120px;
margin-bottom: 100px;
left:50%;
transform: translate(-50%, -50%);
margin-bottom:200px;
display:block;
}

.givingBody{
font-family: 'Montserrat', sans-serif;
font-size: 1.3em;
font-weight:400;
color:black;
margin:10px 80px;

}



.giving-buttons{
flex-direction: column;
display: flex;
text-align: center;
justify-content: center;
align-items: center;

}

a{color:#88a83e;}



.carousel-item{opacity:20%;
z-index: -100;
width:100%;
/*height: fit-content;*/
}

#aboutdiv, #updatediv{
font-family:'Montserrat', sans-serif;
font-size: 1.4em;
font-weight:300;
line-height: 1.2em;
letter-spacing: 0px;
overflow:auto !important;
padding:10px;
margin-left:5%;
margin-right:5%;
margin-top: 10px;
margin-bottom:20px;
text-align: center;
justify-content: center;
color:black;
height:fit-content;
display: block;
width: 90%;
background-color: rgba(136, 168, 62, .2);
border-color: rgba(0, 0, 0, .05);
border-style:solid;
border-radius:20px;
}

#updatediv{margin-top: 15px;
}
.about-images, .update-images{height:auto;
margin-bottom:3vh;
}

.img-sm{width:40vh;}
.img-md{width:50vh;}
.img-lg{width:70vh;}

.abouttitle{font-family: 'Montserrat', sans-serif;
font-weight:600;}

.board-member-row, .about-row {
display: flex;
}

.board-column, .board-member-column, .about-column {
flex: 50%;
}

#bottomSpacer{margin-bottom:8em;}

.line-break{width:80%;
  margin:15px 0px;
border:.5px solid #88a83e;}

/* contact form begins */

.container {
z-index: 1;
position: relative;
width: 80%;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
margin-top:20px;
}

.contact-form {
width:60%;
border-radius:20px;
padding:1em;
background-color: #033212;
position: relative;
margin-bottom: 40px;
border-bottom:4px solid #88a83e;
border-right:4px solid #88a83e;

}

.contact-title {
font-size:2rem;
color: #fff;
text-shadow:2px 2px 1px #88a83e;
font-family: 'Montserrat', sans-serif;
font-weight:700;
line-height: 1;
letter-spacing:1px;
margin-bottom: 0.7rem;
}

.input-container {
position: relative;
margin: 1rem 0;
}

.input {
width: 100%;
outline: none;
border: 2px solid #fafafa;
background: none;
padding: 0.6rem 1.2rem;
color: #fff;
font-weight: 500;
font-size: 0.95rem;
letter-spacing: 0.5px;
border-radius: 25px;
transition: 0.3s;
}

textarea.input {
padding: 0.8rem 1.2rem;
min-height: 150px;
border-radius: 22px;
resize: none;
overflow-y: auto;
}

.input-container label {
position: absolute;
top: 50%;
left: 15px;
transform: translateY(-50%);
padding: 0 0.4rem;
color: #fafafa;
font-size: 0.9rem;
font-weight: 400;
pointer-events: none;
z-index: 1000;
transition: 0.5s;
}

.input{color:white;}
.input-container.textarea label {
top: 1rem;
transform: translateY(0);
}

.subbtn {
font-family: 'Montserrat', sans-serif;
padding: 6px 10px;
background-color: #fff;
font-weight:700;
border:none;
border-bottom:2px solid #88a83e;
border-right:2px solid #88a83e;
font-size: 1.7rem;
color: #033212;
line-height: 1.5rem;
border-radius: 25px;
outline: none;
cursor: pointer;
transition: 0.3s;
margin: 0;
}

.subbtn:hover {
background-color: #88a83e;
color: #fff;
}

.input-container span {
position: absolute;
top: 0;
left: 25px;
transform: translateY(-50%);
font-size: 0.8rem;
padding: 0 0.4rem;
color: transparent;
pointer-events: none;
z-index: 500;
}

.input-container span:before,
.input-container span:after {
content: "";
position: absolute;
width: 10%;
opacity: 0;
transition: 0.3s;
height: 5px;
background-color: #88a83e;

top: 50%;
transform: translateY(-50%);
}

.input-container span:before {
left: 50%;
}

.input-container span:after {
right: 50%;
}

.input-container.focus label {
top: 0;
transform: translateY(-50%);
left: 25px;
font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
width: 50%;
opacity: 1;
}

/* Contact form ends */

#home-info-bottom-box{
background-color:#033212;
opacity:1;
width:100%;
height:fit-content;
color:white;
font-family: 'Montserrat', sans-serif;
position:fixed;
bottom:0;
display:block;
text-align: center;
padding:20px;
overflow:scroll;
}

#home-info-bottom-box-text{font-size:2.5em;
width:50px;
}

.giving-instructions{ font-size:1em;
font-family: 'Montserrat', sans-serif;
text-align: center;}




@media screen and (max-width: 1300px) {
.carousel-item{
width:150%;}

}

@media screen and (max-width: 1150px) {
.carousel-item{
width:150%;}

}

@media screen and (max-width: 1000px) {


.carousel-item{
width:200%;}
.board-member-row, .about-row {
display: block;
}

.homeheaderandbody{
padding:0;
text-align: center;}

}

@media screen and (max-width: 750px) {
.carousel-item{
width:200%;}

.givingBody{
  font-size: 1em;
  margin:10px 20px;}

.navbar-nav{padding:-10px;
margin-left:-10px;
font-size:1em;
}

@media screen and (max-width: 600px) {
.board-member-row {
font-size: .8em;
line-height: 1.4em;
}

.carousel-item{
width:10%;
}}

@media only screen and (max-width: 700px) {

  .navbar-nav{
    margin:inherit -30px;
font-size:.8em;
padding:-50px;
  }
  .nav-item{
    padding:0px;
    margin:5px;
  }
  .nav-link{
    padding:-50px;
    margin:inherit -40px;
  }
  #logo{
    height:40px;
    width:auto;
  }
.homeheader{font-size:2em;
margin-top:50px;}

.homebody{
font-size:1.5em;
margin-top:60px;
white-space:normal;
overflow-wrap: break-word;}


.carousel-item{height:100vh;
width:200%;
margin-left:-40px;}

#aboutdiv{margin-top:20px;
top:100px;}


.about-images:hover{height:auto;
width:40vh;
max-width: 80vh;}



.normalHeader{font-size:2.5em;
padding:0;

margin:10px;
top:75px;}

.normalBody{font-size:1.5em;
padding:0;
margin:0;
top:120px;}

a:hover{color: #88a83e !important;}

.about-images{height:auto;
width:20vh;}


.contact-form {
width: 90%;}

.input{  padding: .5rem .9rem;
font-size:1em;}
}

.container {
padding: 0.1rem;
margin-bottom: 10px;
margin-top: 50px;
width:100%;
}

a:hover{color: #88a83e !important;}

.contact-info:before {
display: none;
}

form,
.contact-info {
padding: 1rem 1.6rem;
font-size:1em;
}

.text,
.information,
.social-media p {
margin-top:30px;
font-size: .7rem;
line-height: 1em;
text-align: left;
letter-spacing: .05em;
}

.title {
font-size: 1.15rem;
}

.input {
font-size: 0.9em;
letter-spacing: .001em;
}

.subbtn {
padding: 0.45rem 1.2rem;
line-height: .8rem;
}

#home-info-bottom-box{padding:10px;}

#home-info-bottom-box-text{font-size:1.5em;}

.carousel-item{height:130vh;
width:270%;
margin-left:-20px;}

.rt66imgadj{margin-left:-200px;
filter: brightness(80%);}

.img-sm{width:30vh;}
.img-md{width:45vh;}
.img-lg{width:60vh;}
}

