*{transition: 500ms;}

html {
    font-size: 100%;
  }

body{
    margin:0;}

.navbar{
    font-size:1.4em;
    font-family:"Amaranth";
    height:3em;
    z-index: 100;
    top:0;
    opacity: 100%;
}

a.hover{color:black;}
a.active{color:darkslategray;}

#logo{width:3em;
    height:auto;
}

#give-btn{position:fixed;
right:1em;
height:fit-content;
width:auto;
font-size:1.2em;
color:white;
background-color: #127aab;
opacity:100;
z-index: 100;
border: none;
}

.homeheader{  
    font-size:2em;
    text-shadow: 1px 1px 10px white;
    font-family: "Amaranth";
    font-size:4em;
    text-align: center;
    color:black;
    opacity: 100%;
    position:absolute;
    margin:0;
    top:320px;
    left:50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
.homebody{
    font-family:"Oswald";
    font-size: 2em;
    text-shadow: 1px 1px 3px white;
    font-weight:200;
    color:black;
    text-align: center;
    margin-bottom:20px;
    display: flex;
    position:absolute;
    margin:0;
    top:420px;
    left:50%;
    transform: translate(-50%, -50%);
    margin-bottom:20px;
    display:flex;
}

.normalHeader{
    font-size:2em;
    text-shadow: 1px 1px 10px white;
    font-family: "Amaranth";
    font-size:4em;
    color:black;
    opacity: 100%;
    position: absolute;
    margin:0;
    top:70px;
    left:50%;
    transform: translate(-50%, -50%);}

.normalBody{
    font-family:"Oswald",sans-serif;
    font-size: 2em;
    text-shadow: 1px 1px 3px white;
    font-weight:200;
    color:black;
    text-align: center;
    margin-bottom:20px;
    display: flex;
    position: absolute;
    margin:0;
    top: 150px;
    margin-bottom: 100px;
    left:50%;
    transform: translate(-50%, -50%);
    margin-bottom:200px;
    display:block;
}

.carousel-item{opacity:30%;
    z-index: -100;
}

#topSpacer{
top:0;
margin-bottom:100px;}

#aboutdiv{
    font-family:"Oswald",sans-serif;
    font-size: 1.5em;
    font-weight:300;
    overflow:auto !important;
    padding:10px;
    margin-left:5%;
    margin-right:5%;
    margin-top: 20px;
    margin-bottom:20px;
   text-align: center;
   justify-content: center;
   border: 2px solid rgba(0, 0, 0, 0.2);
   border-radius:20px;
    color:black;
    height:fit-content;
    display: block;
    width: 90%;
}

@media screen and (min-width: 300px) and (max-width:760px){

    .body-content{margin-left:0;}
    .homeheader{font-size:2em;
        padding:0;
        margin:0;
        top:200px;}
    .homebody{font-size:1.5em;
    top:300px;}
.normalHeader{font-size:2em;
    padding:0;
    margin:0;
    top:75px;}
    .normalBody{font-size:1.5em;
        padding:0;
        margin:0;
        top:120px;}

    #give-btn{height:fit-content;
    width:auto;
    left:40%;
    right:auto;
    font-size:.7em;}
    .carousel-item{
    width:auto;
    height:100%;
    top:0%;
}

#navbarNavDropdown{;}
}